@import url("https://use.typekit.net/dyy5xdy.css");

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}
:root {
    --acc: #1e1e1e;
    --c2: #750014;
    --bg: #ffffff;
}

hr {
    background-color: var(--acc);
    margin-top: 50px;
    height: 1px;
}

body {
    font-family: 'neue-haas-grotesk-text', sans-serif;
/*
    font-family: 'swear-text', serif;
    font-style: 'normal';
*/
    font-weight: 400;
    animation-name: fadein;
    animation-duration: 1s;
    background-color: var(--bg);
    line-height: 2.1;
    font-size: 1.05em;
}

canvas {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}

.header {
    width: 70%;
    text-align: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

/*
.header h1 {
    font-size: 2.5em;
    font-weight: normal;
    font-family: 'neue-haas-grotesk-display', monospace;
}
*/

.main {
    display: flex;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 5vh;
}

.sidebar {
    display: flex;
    margin-right: 4%;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: block;
}

.sidebar li {
    font-family: 'swear-text-cilati', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    word-spacing: 3px;
/*
    margin-top: .6em;
    margin-bottom: .6em;
*/
    text-align: right;
}

.sidebar li .light {
    font-weight: 400; /* or try 400 if 300 is too light */
}

.sidebar img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}

a {
    position: relative;
	color: black;
	text-decoration: none;
    padding-bottom: .35em;
}

.blurb a {
    color: var(--acc);
    font-family: 'swear-text-cilati', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.2em;
}

a::before {
    content: "";
    position: absolute;
    background-color: var(--acc);
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}

.blurb p {
    margin-left: 4%;
    font-size: 1.05em;
    word-spacing: 3px;
}

@media (max-width: 900px) {
    .main {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 560px) {
    .main {
        flex-direction: column;
    }
}

#hide {
  display: inline-block;
  max-width: 0%;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 5s ease-in-out;
}

.expanded #hide {
  max-width: 100%;
  transition-delay: 1s;
}

@keyframes blink {
  0% { opacity: 0.7; }
  50% { opacity: 0; }
  100% { opacity: 0.7; }
}

.cursor {
  display: inline-block;
  width: 3px; /* Adjust width as needed */
  height: 0.95em; /* Adjust height as needed */
  background-color: var(--acc); /* Adjust color as needed */
  animation: blink 1.5s step-start infinite;
}

.name {
/*
  font-family: 'roboto-mono', monospace;
*/
  font-family: 'swear-text-cilati', sans-serif;
  font-style: 'normal';
  font-weight: 500;

  font-size: 4.5em; /* Keep the font size */

  display: block;
  line-height: 1em;
/*
  white-space: nowrap;
*/
  margin: -4vh;
}

.typewriter {
/*
  font-family: 'roboto-mono', monospace;
*/
  font-family: 'swear-text-cilati', sans-serif;
  font-style: 'normal';
  font-weight: 600;

  font-size: 5em; /* Keep the font size */

  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .05em solid var(--acc); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0;
/*
  letter-spacing: 0.3em;
*/

  animation: blink-caret 1.25s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 13ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--acc) }
}
