@import url("https://use.typekit.net/dyy5xdy.css");

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

:root {
    --acc: #1e1e1e;
    --acc2: #a51c30;
}

body {
	font-family: 'neue-haas-grotesk-display', monospace;
	animation-name: fadein;
	animation-duration: 0.5s;
    font-weight: 500;
}

.contribution-note {
    font-size: 1em;
}

.me {
    color: var(--acc);
    font-weight: bold;
}

table {
    margin-left: 5vh;
    margin-top: 10vh;
    width: 60%;
    border-collapse: separate;
    border-spacing: 2vw .5vh;
}

td {
    text-align: flex-start;
}

p {
    line-height: 1.9;
    font-size: 1em;
    word-spacing: 3px;
}

a {
    position: relative;
	color: var(--acc);
	text-decoration: none;
    padding-bottom: .35em;
    font-size: 1.3em;
}

a::before {
    content: "";
    background-color: var(--acc);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
}

@media (max-width: 560px) {
    table {
        width:90%;
    }
}
